header .logo{
    position: absolute;
    left: 45px;
    top: 70px;
    background: url(../images/zhuye.jpg) no-repeat 0 0;
    padding: 20px 0 0 20px;
    width: 156px;
}
header .logo h1{
    font-size: 38px;
    line-height: 1.2em;
    color: #c3c3c3;
    font-weight: normal;
    font-style: italic;
    letter-spacing: -1px;
}
header .logo h1 a{
    color: #c3c3c3;
    text-decoration: none;
}
header .logo h1 a strong {
    color:#fff;
}
    
